data/jdata.npy
data/kdata.npy
data/jydata.npy
data/kydata.npy
data/DR11-Jun-30-2019-VWSC-Galap-X-ray.fits
data/DR11-2arcsec-Jun-30-2019-gaia.fits
data/images/cleaned)UDS_05B_K.fits
data/images/cleaned_UDS_06B_K.fits
data/images/cleaned_UDS_07B_K.fits
data/images/cleaned_UDS_07B_K.fits
data/images/cleaned_UDS_08B_K.fits
data/images/cleaned_UDS_09B_K.fits
data/images/cleaned_UDS_10B_K.fits
data/images/cleaned_UDS_11B_K.fits
data/images/cleaned_UDS_12B_K.fits